body, html {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0;
}

/*--------------------------------------------------------------*/
/*Форма загрузки текста на сервер.*/
.idform {
	display: flex; 
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 500px;
	border: 2px solid #5097ea;
	padding: 20px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------*/
/*Основной контейнер*/
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

/*--------------------------------------------------------------*/
/*Контайнер для названия текста.*/
.container-box {
	display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
    width: 350px;
}

/*--------------------------------------------------------------*/
/*Контайнер для текста.*/
.add-coment-box {
	display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 20px;
    width: 350px;
    height: 400px;
}

/*--------------------------------------------------------------*/
/*Кнопка отправки текста на сервер.*/
.submit_button {
	width: 150px;
	padding: 10px;
	background-color: #5097ea;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	margin-top: 10px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 12px;
}
/*--------------------------------------------------------------*/
/*Блок вывода всего текста.*/
#text_block {
	display: flex; 
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 500px;
	padding: 20px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.container-box-add {
	display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    padding: 20px;
    margin-bottom: 5px;
    width: auto;
}

/*--------------------------------------------------------------*/
/*Кнопки на главной странице.*/
.download_word {
	display: flex; 
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
	background-color: #5097ea;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.download_word a{
	text-decoration: none;
}

/*--------------------------------------------------------------*/
/*Блок ввода поисковых слов .*/
.word-in-bd {
	/*display: flex; */
	/*flex-wrap: wrap;*/
	/*flex-direction: column;*/
	/*align-items: center;*/
	/*width: 500px;*/
	border: 2px solid #5097ea;
	padding: 20px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.sbutton {
	width: 150px;
	/*padding: 10px;*/
	background-color: #5097ea;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	margin-top: -15px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 12px;
}

/*--------------------------------------------------------------*/
/*Заголовок в блоке вывода всех слов с базы данных.*/
.head {
	width: 100%;
	text-align: center;
}










